*{
  margin: 0px;
  padding: 0px;
}

body {
  background: #ffffff;
  font-family: Arial, Helvetica, 
}

#container{
  width: 90%;
  margin: 0px auto;
  
}

header h1 {
  background: #039ee6;
  height: 200px;
  width: 100%;
  text-align: center;
  line-height: 200px;
  color: #ffffff;
  border-bottom: 10px solid #ffffff;
  font-size: 50px;
}

nav {
  background: #00cc00;
  height: 50px;
  border-bottom: 5px solid #ffffff;
}

nav ul li {
  float:left;
  list-style: none;
  margin: 10px;
  color: #000000;
  fnt-size: 20px;
  line-height: 30px;
}

.clear {
  clear:both;
}


#contenido {
  /* float: left; */
  width: calc(80% - 80px);
  min-height: 50px;
  background: #ffffff;
  padding: 40px;
  
}

.article {
  color: #000000;
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #000000;
}

aside {
  float:left;
  width: calc(20% - 20px);
}

.website-counter {
  background-color: #ff4957;
  height: 50px;
  width: 80px;
  color: white;
  border-radius: 30px;
  font-weight: 700;
  font-size: 25px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
