/* *{ */
  /* margin: 0px; */
  /* padding: 0px; */
/* } */



body {
  background: #111827;
  color:#f2f4f6;
  font-family: mytwcent;
  src: url(Ubuntu-L.ttf);
}

#container{
  width: 90%;
  margin: 0px auto;
  
}

@font-face {
  font-family: mytwcent;
  src: url(Ubuntu-L.ttf);
}

header h1 {
  font-family: 'Helvetica';
  background: #f2f2eff;
  /* background: #edd2ff; */
  height: 150px;
	margin: 0;
  width: 100%;
  text-align: center;
  line-height: 125px;
  color: #ffffff;
  /* border-bottom: 10px solid #ffffff; */
  font-size: 50px;
}

nav {
  font-family: 'Helvetica';
  background: #cceecc;
  height: 50px;
  border-bottom: 5px solid #ffffff;
}

nav ul li {
  float:left;
  list-style: none;
  margin: 10px;
  color: #000000;
  fnt-size: 20px;
  line-height: 30px;
}

/* .clear { */
  /* clear:both; */
/* } */
/* FONT DOES NOT WORK */ 
main-content {
  font-family: mytwcent;
    grid-area:main-content;
    background:#fff;
}


#contenido {
  font-family: mytwcent;
  float: left;
  width: calc(80% - 80px);
  min-height: 50px;
  background: #111827;
  padding: 40px;
  
}

.article {
  /* font-family: Helvetica; */
  font-family: 'Tw Cen MT';
  color: #g0000;
  background: #fff;
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #000000;
}

/* aside { */
  /* float:left; */
  /* width: calc(20% - 20px); */
/* } */

.website-counter {
  background-color: #ff4957;
  height: 50px;
  width: 80px;
  color: white;
  border-radius: 30px;
  font-weight: 700;
  font-size: 25px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
	margin: 0;
	 align-items: center;
	justify-content: center;
  margin-top: 0px;
  /* position: fixed; /* Set the navbar to fixed position */ */ */
  top: 0; /* Position the navbar at the top of the page */
	/* padding:14px 16px; */
	height: 80px;
  width: 100%; /* Full width */
}

.sticky {
  position: fixed;
  top: 20;
  width: 100%;
}

.navbar + .content {
  padding-top: 102px;
}
